<div class="p-4 rounded-md border flex flex-col h-full" [ngClass]="{
    'bg-green-100 border-green-400': holiday._isOnWorkDay && holiday._isFutureHoliday,
    'bg-yellow-100 border-yellow-400': holiday._isOnWorkDay && holiday._isTodayHoliday,
    'bg-indigo-100 border-indigo-400': holiday._isOnWorkDay && !holiday._isFutureHoliday && !holiday._isTodayHoliday,
    'bg-gray-100 border-gray-300': !holiday._isOnWorkDay
    }">
    <p class="text-lg font-semibold text-gray-900">{{ holiday.name[0].text }}</p>
    <p class="text-gray-600 mb-2"> <span class="font-medium">{{ holiday.startDate | date:'mediumDate' }}</span> ({{ holiday._dayOfWeekName }})
    </p>

    @if (holiday._isOnWorkDay) {
    <div class="mt-auto"> <p class="text-sm font-medium text-blue-700">
        <span class="inline-block bg-blue-200 text-blue-800 px-2 py-1 rounded-full text-xs font-semibold">
            This is a holiday on your work day!
        </span>
        </p>
    </div>
    }
    @else {
        <div class="mt-auto"></div>
    }
</div>
